* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Bubblegum Sans", cursive;
  background-color: #f5f5f5;
}

.joke {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    font-size: 5rem;
  }

  &__setup {
    padding-top: 1rem;
    color: #ffc107;
  }

  &__punch {
    color: #ff9800;
    padding-top: 1rem;
    text-align: center;
  }

  &__btns {
    display: flex;
    gap: 2rem;
    justify-content: center;
    font-size: 3rem;
    padding: 5rem;

    & button {
      height: 4rem;
      width: 17rem;
      text-transform: uppercase;
      font-size: 1.8rem;
      font-family: inherit;
      cursor: pointer;
      box-shadow: 0 0.5rem 0.5rem rgba(#000, 0.2);
      border-radius: 0.5rem;
      border: none;
      background-color: #9c27b0;
      color: #fff;
    }
  }

  &__spinner {
    display: block;
    height: 12rem;
    width: 12rem;
    margin: auto;
  }
}

.error {
  &__msg {
    font-size: 4rem;
    color: tomato;
  }
}

.Favorite {
  & h2 {
    font-size: 4rem;
    text-decoration: underline;
  }

  & li {
    display: flex;
    align-items: center;
    font-size: 3rem;
    margin-top: 2rem;
    gap: 1rem;
  }

  & button {
    height: 4rem;
    width: 10rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: inherit;
    cursor: pointer;
    box-shadow: 0 0.5rem 0.5rem rgba(#000, 0.2);
    border-radius: 0.5rem;
    border: none;
    background-color: #9c27b0;
    color: #fff;
  }
}
